<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card>
    <ion-item>
    <ion-label position="floating">Primeiro valor</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Segundo valor</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </ion-card>
  
  <ion-card> 
    
  </ion-card>

</ion-content>
